In [2]:
%load_ext autoreload
%autoreload 2

In [2]:
from sqlmodel import Session, create_engine, select
from datetime import date, timedelta
import pandas as pd
import numpy as np
from scipy import stats
from sqlmodel import SQLModel

# Importez vos modèles depuis model.py
from database.model import Company, TransactionNature, TransactionInstrument, Person, Transaction, Currency
import yfinance as yf

# Configuration de la base de données SQLite
engine = create_engine("postgresql://dinitie:dinitie@localhost:5432/dinitie")


# Extraction des transactions 2020-2024
with Session(engine) as session:
    query_transactions = (
        select(Transaction, Company, Person, TransactionNature, TransactionInstrument, Currency)
        .join(Company, Transaction.id_company == Company.id_company)
        .join(Person, Transaction.id_person == Person.id_person)
        .join(TransactionNature, Transaction.id_transaction_nature == TransactionNature.id_transaction_nature)
        .join(TransactionInstrument, Transaction.id_transaction_instrument == TransactionInstrument.id_transaction_instrument)
        .join(Currency, Transaction.id_currency == Currency.id_currency)
        .where(Transaction.date_ != None)
        .where(Company.isin != None)
        .where(Company.ticker != None)
        .where(Currency.name == "Euro")
    )
    results = session.exec(query_transactions).all()

# Conversion en DataFrame avec dates au format datetime
transactions = []
for t, co, p, n, i, cu in results:
        # Vérifiez si la date est dans une plage raisonnable (par ex. 2000-2025)
    if date_converted.year < 2000 or date_converted.year > 2025:
        print(f"Date hors plage ignorée: {t.date_} pour la transaction {t.id_transaction}")
        continue
    transactions.append({
        "id_company": t.id_company,
        "ticker": co.ticker,
        "date": date_converted,
        "volume": t.volume,
        "price": t.price,
        "nature": n.name,
        "id_person": p.id_person,
        "person": p.name,
    })
transactions = pd.DataFrame(transactions)
print(len(transactions))

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 4020-05-30, at position 0

In [1]:
from database.model import Quote

quotes = session.exec(select(Quote, Company.ticker).join(Company, Quote.id_company == Company.id_company).where(Quote.id_company != 923)).all()

NameError: name 'session' is not defined

In [15]:
price_data = {}
for row in quotes:
    price_data[row.ticker] = {"Date": row.date_, "Close": row.close, "Volume": row.volume}

AttributeError: date_

In [6]:
quotes

,0,1,2,3,4,5,6,7,8,9
0,"(id_quote, 3207)","(open, 17.94252085161492)","(low, 17.856216914593446)","(volume, 201766.0)","(stock_splits, 0.0)","(date_, 2019-07-10)","(id_company, 1)","(high, 18.356777773985165)","(close, 17.985671997070312)","(dividends, 0.0)"
1,"(id_quote, 3208)","(open, 18.054715450894914)","(low, 17.493742309740252)","(volume, 243115.0)","(stock_splits, 0.0)","(date_, 2019-07-11)","(id_company, 1)","(high, 18.089236039248206)","(close, 17.51963233947754)","(dividends, 0.0)"
2,"(id_quote, 3209)","(open, 17.485112531514922)","(low, 17.23914736136841)","(volume, 186993.0)","(stock_splits, 0.0)","(date_, 2019-07-12)","(id_company, 1)","(high, 18.13238964160802)","(close, 17.856218338012695)","(dividends, 0.0)"
3,"(id_quote, 3210)","(open, 18.03745257943953)","(low, 17.94251973611756)","(volume, 194039.0)","(stock_splits, 0.0)","(date_, 2019-07-15)","(id_company, 1)","(high, 18.253211585524)","(close, 18.235950469970703)","(dividends, 0.0)"
4,"(id_quote, 3211)","(open, 18.192800682987816)","(low, 17.77854375550033)","(volume, 294300.0)","(stock_splits, 0.0)","(date_, 2019-07-16)","(id_company, 1)","(high, 18.365408559162955)","(close, 18.29636573791504)","(dividends, 0.0)"
...,...,...,...,...,...,...,...,...,...,...
532097,"(id_quote, 535304)","(open, 0.15600000321865082)","(low, 0.15600000321865082)","(volume, 53509.0)","(stock_splits, 0.0)","(date_, 2025-03-31)","(id_company, 911)","(high, 0.164000004529953)","(close, 0.15800000727176666)","(dividends, 0.0)"
532098,"(id_quote, 535305)","(open, 0.16449999809265137)","(low, 0.1589999943971634)","(volume, 36050.0)","(stock_splits, 0.0)","(date_, 2025-04-01)","(id_company, 911)","(high, 0.16500000655651093)","(close, 0.1589999943971634)","(dividends, 0.0)"
532099,"(id_quote, 535306)","(open, 0.1589999943971634)","(low, 0.15850000083446503)","(volume, 286605.0)","(stock_splits, 0.0)","(date_, 2025-04-02)","(id_company, 911)","(high, 0.17000000178813934)","(close, 0.16850000619888306)","(dividends, 0.0)"
532100,"(id_quote, 535307)","(open, 0.16899999976158142)","(low, 0.16449999809265137)","(volume, 49587.0)","(stock_splits, 0.0)","(date_, 2025-04-03)","(id_company, 911)","(high, 0.16899999976158142)","(close, 0.16850000619888306)","(dividends, 0.0)"
532101,"(id_quote, 535308)","(open, 0.16500000655651093)","(low, 0.15950000286102295)","(volume, 186209.0)","(stock_splits, 0.0)","(date_, 2025-04-04)","(id_company, 911)","(high, 0.16850000619888306)","(close, 0.16500000655651093)","(dividends, 0.0)"